# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ilk

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.exp

# Debug symbols
*.pdb

# Executables
*.exe
*.exe.manifest
*.out
*.app
vicit-diem

# macOS .DS_STORE files
.DS_STORE

# .vscode directory
.vscode/
